<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kursor3D_Kursor3DModule.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kursor3D_Kursor3DModule.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Kursor3D_Kursor3DModule.Configuration>
            <setting name="CursorGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\Cursor</value>
            </setting>
            <setting name="SelectGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\\Select</value>
            </setting>
            <setting name="MoveGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\Move</value>
            </setting>
            <setting name="ScaleGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\Scale</value>
            </setting>
            <setting name="RotateGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\Rotate</value>
            </setting>
            <setting name="OpenMenuGestureType" serializeAs="String">
                <value>C:\Users\TheUser\source\repos\Cursor 3D Module\Kursor3D_Kursor3DModule\Kursor3D_Kursor3DModule\bin\Debug\Sources\GestureData\OpenMenu</value>
            </setting>
            <setting name="StartFromApplicationPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartApplicationHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NamedPipeImageServer" serializeAs="String">
                <value>Kursor3DImageNotifier</value>
            </setting>
            <setting name="NamedPipeCursorAndGestureInfo" serializeAs="String">
                <value>CursorProcessCompleteNotifier</value>
            </setting>
            <setting name="MemoryMappedFFileName" serializeAs="String">
                <value>Kursor3DSourceImage</value>
            </setting>
            <setting name="CursorThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="CursorOctaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CursorInitial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="SelectOctaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SelectInitial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MoveThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="MoveOctaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MoveInitial" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RotateThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="RotateOctaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RotateInitial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScaleThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="ScaleOctaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScaleInitial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OpenMenuThreshold" serializeAs="String">
                <value>0.0002</value>
            </setting>
            <setting name="OpenMenuOcaves" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OpenMenuInitial" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
        </Kursor3D_Kursor3DModule.Configuration>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.World" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.2282" newVersion="3.1.0.2282" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK.GLControl" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.9.1847" newVersion="2.4.9.1847" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.9.1847" newVersion="2.4.9.1847" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Kursor3D_Kursor3DModule.Configuration>
      <setting name="MinHue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinSaturation" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="MinValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxHue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxSaturation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YCrCb_LumaMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YCrCb_RedMinusLumaMin" serializeAs="String">
        <value>131</value>
      </setting>
      <setting name="YCrCb_BlueMinusLumaMin" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="YCrCb_LumaMax" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="YCrCb_RedMinusLumaMax" serializeAs="String">
        <value>185</value>
      </setting>
      <setting name="YCrCb_BlueMinusLumaMax" serializeAs="String">
        <value>135</value>
      </setting>
    </Kursor3D_Kursor3DModule.Configuration>
  </userSettings>
</configuration>
